checkpoint
det.txt
gt.txt
save_model_market1501.data-00000-of-00001
save_model_market1501.index
save_model_market1501.meta
variables.data-00000-of-00001
variables.index
yolo4.h5
/model_data/yolo4.h5
/model_data/yolov4.weights
out_2.mp4
out_3.mp4
out_4.mp4
out_5.mp4
out_6.mp4
out_7.mp4
out_8.mp4
out_9.mp4
out.mp4
out2.mp4
output_yolov4_1.avi
output_yolov4_2.avi
output_yolov4.avi
*.avi
*.mp4
*.jpg